# Hidden directories:
.*/

# Operating system cruft:
Desktop.ini
Thumbs.db
__MACOSX
._*
.AppleDouble
.DS_Store
.LSOverride

# Editors (Eclipse, WingIDE, Vim):
.sw?
.*.sw?
*~
*.bak
.project
.pydevproject
.wp[ru]

# Translation files:
*.mo

# Java binary files:
*.class

# Java package files:
*.ear
*.jar
*.war

# Python binary files:
*.py[cdo]
*.so

# Python package files:
*.egg
*.egg-info
build
dist
eggs
sdist
develop-eggs
.installed.cfg

# Jenkins build files:
.coverage
coverage.xml
nosetests.xml
cpd.xml
pep8.log
pylint.log

# Sphinx build files:
.build
.static

# Transient files:
*.log
*.tmp

# Project specific ignores:

# Keep empty directories:
!*/.git*
