include AUTHORS
include CHANGES
include LICENSE
include README.rst
include TODO
include *.py
include requirements*.txt
exclude requirements-jenkins.txt
recursive-include doc *
prune doc/build
exclude build
exclude dist
exclude jenkins
exclude .coverage
exclude coverage.xml
exclude nosetests.xml

recursive-include soapbox/templates *
