include AUTHORS
include CHANGES
include LICENSE
include README.rst
include TODO
include *.py
include requirements*.txt
recursive-include doc *
prune doc/build
exclude .git
exclude build
exclude dist
exclude .coverage
exclude coverage.xml
exclude nosetests.xml

recursive-include soapbox/templates *
