check-manifest
flake8
flake8-assertive
flake8-bugbear
flake8-coding
flake8-commas
flake8-comprehensions
flake8-docstrings
flake8-future-import
flake8-isort
flake8-logging-format
flake8-quotes
flake8-raise
iso8601>=0.1.12
isort
jinja2
lxml
pytest
pytest-cov
pytest-mock
requests
